logs/*.log
.DS_Store
!.gitignore
.gitignore___jb_tmp___
*.exe
*.exe~
mm-wiki
*.session/
.mmwiki.sessions/
release/
release-*
data/
install/install
install/install.exe
install.lock

.idea/

node_modules/

vendor/
go.sum
wiki.sqlite3