<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>余音MP3</title>
    <meta name="keyword" content="音乐 港台 内地 免费 下载" />
    <meta name="description" content="歌手音乐免费下载，百度网盘获取。" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/plugins/layui/css/layui.css">
    <script type="text/javascript" src="/static/plugins/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/plugins/jquery/jquery1.11.js"></script>
    <style type="text/css">
        .dl-tip {
            font-size:22px;
            font-weight:300;
            text-align:center;
        }
    </style>
</head>
<body>
<script src="/layui/layui.js"></script>
<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item"><a href="/">余音MP3</a></li>
</ul>
<div class="layui-main">
    {{.LayoutContent}}
</div>

<div class="layui-container footer">
    <div class="layui-row" style="margin: 35px; text-align: center;">
        &copy; 2020 yuyinmp3.com
    </div>
    <div class="layui-carousel dl-tip" id="carousel">
        <div carousel-item>
            <div class="layui-row">
                <div class="layui-col-md4"><img src=""></div>
                <div class="layui-col-md8">
                    <p>step:1</p>
                    <p>step:2</p>
                </div>
            </div>
            <div>
                <div class="layui-card">
                    <div class="layui-card-header" title="欢迎捐赠">欢迎捐赠</div>
                    <div class="layui-card-body dl-tip">
                        <a href="https://github.com/maoSting/drip-donate">捐赠列表</a>
                        <br/>
                        asdf # google dot com
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use('carousel', function(){
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#carousel'
            ,width: '100%' //设置容器宽度
            ,arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式
        });
    });
</script>
</body>
</html>