<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>水滴下载器</title>
    <meta name="keyword" content="国外 下载 加速 提速" />
    <meta name="description" content="国外下载文件加速器,github release下载加速,下载国外文件提速。" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/plugins/layui/css/layui.css">
    <style type="text/css">
        .dl-tip {
            font-size:22px;
            font-weight:300;
            text-align:center;
        }
    </style>
</head>
<body>
<script src="/layui/layui.js"></script>
<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item"><a href="/">水滴下载器</a></li>
</ul>
<div class="layui-container">
    {{.LayoutContent}}
</div>

<div class="layui-container footer">
    <div class="layui-row">
        <div class="layui-col-md5 layui-col-sm12">
            <div class="layui-card">
                <div class="layui-card-header" title="wechat">微信</div>
                <div class="layui-card-body">
                    <img src="/static/img/wechat.jpg" alt="微信">
                </div>
            </div>
        </div>
        <div class="layui-col-md2 layui-col-sm12">
            <div class="layui-card">
                <div class="layui-card-header" title="欢迎捐赠">欢迎捐赠</div>
                <div class="layui-card-body dl-tip">
                    <a href="https://github.com/maoSting/drip-donate">捐赠列表</a>
                    <br/>
                    反馈QQ: 237661791
                </div>
            </div>
        </div>
        <div class="layui-col-md5 layui-col-sm12">
            <div class="layui-card">
                <div class="layui-card-header" title="支付宝">支付宝</div>
                <div class="layui-card-body">
                    <img src="/static/img/alipay.jpg" alt="支付宝">
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>