{{$pageContent := .page_content}}
{{$document := .document}}
{{$parentDocuments := .parent_documents}}
{{$createUser := .create_user}}
{{$editUser := .edit_user}}
{{$collectionId := .collection_id}}
{{$space := .space}}
<div class="layui-col-md12">
    <div class="layui-card">
        <div class="layui-card-header">
            <h2>
                {{$document.name}}
            </h2>
        </div>
        <div class="layui-card-body">
            <div id="document_page_view" style="padding: 0 10px 10px 10px;">
                <textarea style="display:none;">{{$pageContent}}</textarea>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/plugins/editor.md/editormd.min.js"></script>
<script type="text/javascript" src="/static/plugins/editor.md/lib/marked.min.js"></script>
<script type="text/javascript" src="/static/plugins/editor.md/lib/prettify.min.js"></script>
<script type="text/javascript" src="/static/plugins/editor.md/lib/raphael.min.js"></script>
<script type="text/javascript" src="/static/plugins/editor.md/lib/underscore.min.js"></script>
<script type="text/javascript" src="/static/plugins/editor.md/lib/sequence-diagram.min.js"></script>
<script type="text/javascript" src="/static/plugins/editor.md/lib/flowchart.min.js"></script>
<script type="text/javascript" src="/static/plugins/editor.md/lib/jquery.flowchart.min.js"></script>

<script type="text/javascript">
    $(function() {
        editormd.katexURL = {
            js  : "/static/plugins/editor.md/lib/katex/katex.min",
            css : "/static/plugins/editor.md/lib/katex/katex.min"
        };
        editormd.markdownToHTML("document_page_view", {
            path : '/static/plugins/editor.md/lib/',
            //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
            htmlDecode      : "style,script,iframe",  // you can filter tags decode
            //toc             : false,
            tocm            : true,    // Using [TOCM]
            //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
            //gfm             : false,
            //tocDropdown     : true,
            //markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
            emoji           : false,
            taskList        : true,
            tex             : true,  // 默认不解析
            flowChart       : true,  // 默认不解析
            sequenceDiagram : true,  // 默认不解析
        });

    });
</script>
