{{$documents := .documents}}
<div class="layui-row" style="margin: 35px;">
    <form class="layui-form" action="/search">
        <div class="layui-col-md-offset1">
            <div class="layui-col-md8">
                <div class="layui-input-block">
                    <input type="text" name="keyword" value="{{.keyword}}" placeholder="" class="layui-input">
                </div>
            </div>
            <button class="layui-btn">搜索</button>
        </div>
    </form>
</div>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 25px;">
    <legend>兼容性和面向场景</legend>
</fieldset>
<div class="layui-row">
    {{if eq .count 0}}
    {{else}}
        {{range $document := $documents}}
            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">
                        {{$document.name}}
                        <span class="layui-badge layui-bg-gray">
                            {{dateFormat $document.update_time "Y-m-d H:i"}}
                        </span>
                    </div>
                    <div class="layui-card-body search-content">
                        {{$document.search_content}}
                    </div>
                </div>
            </div>
        {{end}}
    {{end}}

</div>
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <hr>
            {{if eq .count 0}}
                <div class="alert alert-info alert-dismissible fade in" role="alert" style="margin-bottom: 0">
                    <p><i class="glyphicon glyphicon-volume-up"></i> 抱歉，暂时没有搜索到您想要的结果，切换搜索方式试试看？</p>
                </div>
            {{else}}
            <div class="row">
                <div class="document-update">
                    <ul>
                    {{range $document := $documents}}
                        <li>
                            <div>
                                <a href="/detail?document_id={{$document.document_id}}" target="_parent" class="text text-info text-font-15">
                                {{if eq $document.type "1"}}
                                    <i class="fa fa-file-word-o"></i>
                                {{else}}
                                    <i class="fa fa-folder-o"></i>
                                {{end}}
                                {{$document.name}}</a>
                            </div>
                            <span class="text text-font-12 document-user-time"><i class="fa fa-calendar"></i>
                    创建于 {{dateFormat $document.create_time "Y-m-d H:i:s"}}，修改于{{dateFormat $document.update_time "Y-m-d H:i:s"}}
                            </span>
                        </li>
                        <hr>
                        <p class="search-content">{{$document.search_content}}</p>
                    {{end}}
                    </ul>
                </div>
            </div>
            <div class="center">
{{/*            {{template "paginator/default.html" .}}*/}}
            </div>
            {{end}}
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/plugins/mark/mark.min.js"></script>
<script type="text/javascript">
    var keyword = {{.keyword}}
    if (keyword) {
        var searchContent = document.querySelectorAll('.search-content');
        var instance = new Mark(searchContent);
        instance.mark(keyword);
    }
</script>