<fieldset class="layui-elem-field" style="margin-top: 30px;">
    <legend>歌手</legend>
    <div class="layui-row">
        {{if eq .count 0}}
            <div class="alert alert-info alert-dismissible fade in" role="alert" style="margin-bottom: 0">
                <p><i class="glyphicon glyphicon-volume-up"></i> 暂时还没有数据！</p>
            </div>
        {{else}}
            {{range $document := .documents}}
                <div class="layui-col-md3 layui-field-title" style="text-align: center;">
                    <a class="" href="/detail?document_id={{$document.document_id}}"
                       title="查看">{{$document.name}}</a>
                </div>
            {{end}}
        {{end}}
    </div>
</fieldset>
{{template "paginator/layui.html" .}}
